/* /Shared/MainLayout.razor.rz.scp.css */
@font-face {
    font-family: 'Breezeblocks';
    src: url('./fonts/Breezeblocks.ttf') format('truetype'), url('./fonts/MyOpenTypeFont.otf') format('opentype');
}

.background-col[b-fbrgg9u8gc] {
    background-color: #fafafa;
    height: 100%;
    width: 100%;
}

.main-container[b-fbrgg9u8gc] {
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
    background-color: white;
    border: 1px solid #f4f4f5;
}

.top-container[b-fbrgg9u8gc] {
    display: flex;
    flex-direction: column;
    padding: 1%;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}

.header-container[b-fbrgg9u8gc] {
    padding: 10% 0;
    text-align: center;
    padding: 200px;
    position: relative;
    color: white;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
    z-index: 1;
}
.border-line[b-fbrgg9u8gc] {
    width: 95%;
    height: 2px;
    background-color: #ccc;
    margin: 0 auto;
    position: relative;
    margin-bottom: 20px;
    margin-top: 10px;
}
    .header-container h1[b-fbrgg9u8gc],
    .header-container h2[b-fbrgg9u8gc] {
        font-family: 'Breezeblocks';
        font-size: 5em;
        text-align: center;
        margin: 10px 0;
        z-index: 2;
    }

.background-image[b-fbrgg9u8gc] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background: url('./pictures/backgroundimage.jpg') no-repeat center center;
    background-size: 100% auto;
}


.custom-button[b-fbrgg9u8gc] {
    padding: 10px 20px;
    border-radius: 20px;
    width: 25%;
    background-color: rgba(51, 51, 51, 0.6);
    border: 1px solid white;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 1;
    margin-top: 10%;
}

    .custom-button:hover[b-fbrgg9u8gc] {
        background-color: rgba(51, 51, 51, 1);
    }

body[b-fbrgg9u8gc], html[b-fbrgg9u8gc] {
    height: 100%;
    margin: 0;
}

.tabs-container[b-fbrgg9u8gc] {
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
    white-space: nowrap;
}

.tab[b-fbrgg9u8gc] {
    display: flex;
    font-weight: bold;
    color: grey;
    align-items: center;
    gap: 4px;
    position: relative;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.tabs-container .tab:nth-child(1)[b-fbrgg9u8gc],
.tabs-container .tab:nth-child(2)[b-fbrgg9u8gc] {
    margin-right: 5%;
}


    .tab.active[b-fbrgg9u8gc] {
        color: black;
    }

        .tab.active[b-fbrgg9u8gc]::before {
            margin-top: -23.4%;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 2px;
            background: grey;
            border-radius: 5px;
        }




.full-screen-flex[b-fbrgg9u8gc] {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.input-file-hidden[b-fbrgg9u8gc] {
    display: none;
}

.custom-file-upload[b-fbrgg9u8gc] {
    padding: 10px 15px;
    background-color: rgba(51, 51, 51, 0.6);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    margin-top: 20%;
}

    .custom-file-upload:hover[b-fbrgg9u8gc] {
        background-color: rgba(51, 51, 51, 0.8);
    }

.name-input-box[b-fbrgg9u8gc]::placeholder {
    text-align: center;
}
.name-input-box[b-fbrgg9u8gc] {
    border-radius: 10px;
}

.gallery-container[b-fbrgg9u8gc] {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
}



.text-content[b-fbrgg9u8gc] {
    position: absolute;
    color: #333;
    font-size: 18px;
    text-align: left;
    margin-top: 92%;
    padding-left: 3%;
    font-weight: 500;
    color: white;
    font-family: Calibri, sans-serif;
}

.photo[b-fbrgg9u8gc] {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;
}

    .photo img[b-fbrgg9u8gc] {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;

    }

.photo p[b-fbrgg9u8gc] {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
    font-size: 1vw;
    color: white;
    background-color: rgba(0,0,0,0.5);
}

.upload-popup[b-fbrgg9u8gc] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255);
    border: 2px dashed grey;
    padding: 80px 40px 40px;
    width: 60%;
    height: 40%;
    border-radius: 10px;
    position: relative;
}

    .upload-popup[b-fbrgg9u8gc]::before {
        margin-top: 5%;
        content: '';
        background: url('./pictures/upload.png') no-repeat center top;
        background-size: contain;
        width: 120px;
        height: 120px;
        display: block;
        position: absolute;
        top: -60px;
        left: 50%;
        transform: translateX(-50%);
    }

    .upload-popup h3[b-fbrgg9u8gc] {
        margin-top: 2%;
        font-size: 12px;
        color: grey;
        white-space: nowrap;
    }

.upload-progress-container[b-fbrgg9u8gc] {
    width: 50%;
    height: 20px;
    background-color: #e0e0e0;
    margin-top: 15px;
}

.upload-progress[b-fbrgg9u8gc] {
    height: 100%;
    background-color: #5d805e;
}

.upload-success-message[b-fbrgg9u8gc] {
    color: green;
    text-align: center;
    margin-top: 10px;
}

.drag-text[b-fbrgg9u8gc] {
    font-size: 34px;
    margin-bottom: 20px;
    color: grey;
}

.or-text[b-fbrgg9u8gc] {
    margin: 20px 0;
    font-size: 26px;
    text-align: center;
    color: grey;
}



.close-btn[b-fbrgg9u8gc] {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: #e5e5e5;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

    .close-btn:hover[b-fbrgg9u8gc] {
        background-color: #c5c5c5;
    }

/* image pop-up start */
.image-popup[b-fbrgg9u8gc] {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 5;
}

.image-popup.open[b-fbrgg9u8gc] {
    display: block;
}

.image-popup-content[b-fbrgg9u8gc] {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    max-width: 90vw;
    max-height: 90vh;
    overflow: hidden;
}


    .image-popup-content img[b-fbrgg9u8gc] {
        width: auto;
        max-width: 100%; /* Ensure the image doesn't exceed its container width */
        height: auto;
        max-height: 80vh; /* Ensure the image doesn't exceed 80% of the viewport height */
        display: block;
        margin: auto;
    }


.image-close[b-fbrgg9u8gc] {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}
/* image pop-up end */



/* Image loading graphic */

body[b-fbrgg9u8gc] {
    background: #222;
    text-align: center;
    padding: 20%;
}

.loading span[b-fbrgg9u8gc] {
    display: inline-block;
    vertical-align: middle;
    width: .6em;
    height: .6em;
    margin: .19em;
    background: #007DB6;
    border-radius: .6em;
    animation: loading-b-fbrgg9u8gc 1s infinite alternate;
}

    /* Dot colors */
    .loading span:nth-of-type(2)[b-fbrgg9u8gc] {
        background: #008FB2;
        animation-delay: 0.2s;
    }

    .loading span:nth-of-type(3)[b-fbrgg9u8gc] {
        background: #009B9E;
        animation-delay: 0.4s;
    }

    .loading span:nth-of-type(4)[b-fbrgg9u8gc] {
        background: #00A77D;
        animation-delay: 0.6s;
    }

    .loading span:nth-of-type(5)[b-fbrgg9u8gc] {
        background: #00B247;
        animation-delay: 0.8s;
    }

    .loading span:nth-of-type(6)[b-fbrgg9u8gc] {
        background: #5AB027;
        animation-delay: 1.0s;
    }

    .loading span:nth-of-type(7)[b-fbrgg9u8gc] {
        background: #A0B61E;
        animation-delay: 1.2s;
    }

/* Animation keyframes */
@keyframes loading-b-fbrgg9u8gc {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* End of image loading graphic */

    @media only screen and (max-width: 480px) {
        .image-popup-content[b-fbrgg9u8gc] {
            padding: 10px;
            width: 95vw;
            height: auto;
        }

            .image-popup-content img[b-fbrgg9u8gc] {
                width: 100%;
                height: auto;
            }

    }

    @media screen and (max-width: 768px) {

        .loading[b-fbrgg9u8gc] {
            white-space: nowrap;
        }

        .loading span[b-fbrgg9u8gc] {
            width: .4em;
            height: .4em;
            margin: .1em;
        }

        .main-container[b-fbrgg9u8gc] {
            width: 100%;
            max-width: 100%;
        }
            .top-container[b-fbrgg9u8gc] {
            padding: 10px 10px;
        }

        .header-container[b-fbrgg9u8gc] {
            padding: 15% 0;
            height: 300px;
        }

            .header-container h1[b-fbrgg9u8gc] {
                margin-top: 15%;
                margin-bottom: -2%;
            }

            .header-container h1[b-fbrgg9u8gc],
            .header-container h2[b-fbrgg9u8gc] {
                font-size: 3.5em;
            }

        .background-image[b-fbrgg9u8gc] {
            background-size: cover;
        }


        .tabs-container .tab:nth-child(1)[b-fbrgg9u8gc],
        .tabs-container .tab:nth-child(2)[b-fbrgg9u8gc] {
            margin-right: -2%;
        }

        .gallery-container[b-fbrgg9u8gc] {
            grid-template-columns: repeat(3, 1fr);
            gap: 5px;
            justify-content: center;
        }

        .custom-button[b-fbrgg9u8gc] {
            padding: 10px 20px;
            font-size: 16px;
            text-align: center;
            margin-top: 20px;
            display: inline-block;
            width: auto;
        }

        .upload-popup[b-fbrgg9u8gc] {
            padding: 50px;
            height: 70%;
            width: 90%;
        }

            .upload-popup[b-fbrgg9u8gc]::before {
                width: 100px;
                height: 100px;
                top: 2%;
            }

        .drag-text[b-fbrgg9u8gc],
        .or-text[b-fbrgg9u8gc] {
            font-size: 24px;
        }

        .file-upload-button + label[b-fbrgg9u8gc] {
            padding: 8px 12px;
            font-size: 14px;
        }

        .image-popup-content[b-fbrgg9u8gc] {
            padding: 15px;
            width: 92vw;
            height: auto;
            max-height: 90vh;
        }

            .image-popup-content img[b-fbrgg9u8gc] {
                width: auto;
                height: auto;
            }
    }
