<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://weddingwebsitefunctions.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/c7ec303f-1cce-4387-b66a-8f0ec1b78011/resourcegroups/WeddingWebsite/providers/Microsoft.Web/sites/WeddingWebsiteFunctions</ResourceId>
    <UserName>$WeddingWebsiteFunctions</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://weddingwebsitefunctions.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>