    .tabs-container {
        width: 95%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2%;
        white-space: nowrap;
    }
    
    .tab {
        display: flex;
        font-weight: bold;
        color: grey;
        align-items: center;
        gap: 4px;
        position: relative;
        padding: 5px 10px;
        cursor: pointer;
        transition: all 0.3s;
    }
    
    .tabs-container .tab:nth-child(1),
    .tabs-container .tab:nth-child(2) {
        margin-right: 5%;
    }
    
    .tab.active {
        color: black;
    }

    .tab.active::before {
        margin-top: -23.4%;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 2px;
        background: grey;
        border-radius: 5px;
    }

@media screen and (max-width: 768px) {
    .tabs-container .tab:nth-child(1),
    .tabs-container .tab:nth-child(2) {
        margin-right: -2%;
    }
}