/* /Shared/MainLayout.razor.rz.scp.css */
@font-face {
    font-family: 'Breezeblocks';
    src: url('./fonts/Breezeblocks.ttf') format('truetype'), url('./fonts/MyOpenTypeFont.otf') format('opentype');
}

.main-container[b-fbrgg9u8gc] {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    padding-bottom: 0px;
}

.header-container[b-fbrgg9u8gc] {
    text-align: center;
    padding: 200px;
    position: relative;
    color: white;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
}

    .header-container h1[b-fbrgg9u8gc],
    .header-container h2[b-fbrgg9u8gc] {
        font-family: 'Breezeblocks';
        font-size: 6em;
        white-space: nowrap;
        max-width: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

.background-image[b-fbrgg9u8gc] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: url('./pictures/backgroundimage.jpg') no-repeat center center;
    background-size: cover;
}


.button[b-fbrgg9u8gc] {
    padding: 10px 20px;
    border-radius: 20px;
    background-color: rgba(51, 51, 51, 0.4);
    border: 1px solid white;
    color: white;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 90%;
}

    .button:hover[b-fbrgg9u8gc] {
        background-color: rgba(51, 51, 51, 1);
        transition: background-color 0.3s ease;
    }

.gallery-container[b-fbrgg9u8gc] {
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    background-color: aliceblue;
}

.photo[b-fbrgg9u8gc] {
    position: relative;
}

    .photo img[b-fbrgg9u8gc] {
        width: 100%;
        border-radius: 10px;
        vertical-align: top;
    }

    .photo p[b-fbrgg9u8gc] {
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 0;
        padding: 5px;
        font-size: 1vw;
        color: white;
    }

@media screen and (max-width: 768px) {
    .header-container[b-fbrgg9u8gc] {
        padding: 50px;
        height: auto;
    }

    .header-container h1[b-fbrgg9u8gc],
    .header-container h2[b-fbrgg9u8gc] {
        font-size: 3em;
    }
}
