@font-face {
    font-family: 'Breezeblocks';
    src: url('./fonts/Breezeblocks.ttf') format('truetype'), url('./fonts/MyOpenTypeFont.otf') format('opentype');
}

.background-col[b-fbrgg9u8gc] {
    background-color: #fafafa;
    height: 100%;
    width: 100%;
}

.main-container[b-fbrgg9u8gc] {
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
    background-color: white;
    border: 1px solid #f4f4f5;
}

.border-line[b-fbrgg9u8gc] {
    width: 95%;
    height: 2px;
    background-color: #ccc;
    margin: 0 auto;
    position: relative;
    margin-bottom: 20px;
    margin-top: 10px;
}
    

body[b-fbrgg9u8gc], html[b-fbrgg9u8gc] {
    height: 100%;
    margin: 0;
}


body[b-fbrgg9u8gc] {
    background: #222;
    text-align: center;
    padding: 20%;
}

.loading span[b-fbrgg9u8gc] {
    display: inline-block;
    vertical-align: middle;
    width: .6em;
    height: .6em;
    margin: .19em;
    background: #007DB6;
    border-radius: .6em;
    animation: loading-b-fbrgg9u8gc 1s infinite alternate;
}
    /* Dot colors */
    .loading span:nth-of-type(2)[b-fbrgg9u8gc] {
        background: #008FB2;
        animation-delay: 0.2s;
    }

    .loading span:nth-of-type(3)[b-fbrgg9u8gc] {
        background: #009B9E;
        animation-delay: 0.4s;
    }

    .loading span:nth-of-type(4)[b-fbrgg9u8gc] {
        background: #00A77D;
        animation-delay: 0.6s;
    }

    .loading span:nth-of-type(5)[b-fbrgg9u8gc] {
        background: #00B247;
        animation-delay: 0.8s;
    }

    .loading span:nth-of-type(6)[b-fbrgg9u8gc] {
        background: #5AB027;
        animation-delay: 1.0s;
    }

    .loading span:nth-of-type(7)[b-fbrgg9u8gc] {
        background: #A0B61E;
        animation-delay: 1.2s;
    }


@keyframes loading-b-fbrgg9u8gc {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


    @media screen and (max-width: 768px) {

        .loading[b-fbrgg9u8gc] {
            white-space: nowrap;
        }

        .loading span[b-fbrgg9u8gc] {
            width: .4em;
            height: .4em;
            margin: .1em;
        }

        .main-container[b-fbrgg9u8gc] {
            width: 100%;
            max-width: 100%;
        }      
                
    }
