@font-face {
    font-family: 'Cochocib Script Latin Pro';
    src: url('./fonts/cochocibscriptlatinpro.ttf') format('ttf');
}

.main-container {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    padding-bottom: 0px;
    font-family: 'Cochocib Script Latin Pro';
}

.header-container {
    text-align: center;
    padding: 200px;
    position: relative;
    color: white;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    overflow: hidden;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: url('./pictures/backgroundimage.jpg') no-repeat center center;
    background-position: center center;
    background-size: auto 1000px;
}

.button {
    padding: 10px 20px;
    border-radius: 20px;
    background-color: rgba(51, 51, 51, 0.4);
    border: 1px solid white;
    color: white;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(51, 51, 51, 1);
    transition: background-color 0.3s ease;
}

.gallery-container {
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    background-color: aliceblue;
}

.photo {
    position: relative;
}

    .photo img {
        width: 100%;
        border-radius: 10px;
        vertical-align: top;
    }

    .photo p {
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 0;
        padding: 5px;
        font-size: 1vw;
        color: white;
    }
