@font-face {
    font-family: 'Breezeblocks';
    src: url('./fonts/Breezeblocks.ttf') format('truetype'), url('./fonts/MyOpenTypeFont.otf') format('opentype');
}

/* .background-col {
    background-color: black;
} */

body[b-fbrgg9u8gc], html[b-fbrgg9u8gc] {
    height: 100%;
    margin: 0;
}

.full-screen-flex[b-fbrgg9u8gc] {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.main-container[b-fbrgg9u8gc] {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}

.header-container[b-fbrgg9u8gc] {
    text-align: center;
    padding: 200px;
    position: relative;
    color: white;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
}

    .header-container h1[b-fbrgg9u8gc],
    .header-container h2[b-fbrgg9u8gc] {
        font-family: 'Breezeblocks';
        font-size: 5em;
        text-align: center;
        margin: 10px 0;
    }

.background-image[b-fbrgg9u8gc] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: url('./pictures/backgroundimage.jpg') no-repeat center center;
    background-size: cover;
}


.custom-button[b-fbrgg9u8gc] {
    padding: 10px 20px;
    border-radius: 20px;
    width: 25%;
    background-color: rgba(51, 51, 51, 0.6);
    border: 1px solid white;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .custom-button:hover[b-fbrgg9u8gc] {
        background-color: rgba(51, 51, 51, 1);
    }

    .custom-button input-file-hidden[b-fbrgg9u8gc] {
        display: none;
        z-index: -1000;
    }


.gallery-container[b-fbrgg9u8gc] {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 20px auto;
    width: 100%;
    max-width: 1200px;
    background-color: #f5f5f5;
}


    .gallery-container .text-content[b-fbrgg9u8gc] {
        color: #333;
        font-size: 18px;
        text-align: center;
        font-family: 'Lobster';
    }

.photo img[b-fbrgg9u8gc] {
    width: 100%;
    border-radius: 10px;
    height: 300px;
    object-fit: cover;
}

.photo p[b-fbrgg9u8gc] {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
    font-size: 1vw;
    color: white;
    background-color: rgba(0,0,0,0.5);
}

.upload-popup[b-fbrgg9u8gc] {
    display: flex;
    flex-direction: column; /* Stacks children vertically */
    align-items: center; /* Horizontal centering */
    justify-content: center; /* Vertical centering */
    background-color: rgba(255, 255, 255);
    border: 2px dashed grey;
    padding: 80px 40px 40px;
    width: 75%;
    height: 60%;
    border-radius: 10px;
    position: relative;
}

    .upload-popup[b-fbrgg9u8gc]::before {
        margin-top: 5%;
        content: '';
        background: url('./pictures/upload.png') no-repeat center top;
        background-size: contain;
        width: 120px; /* Adjusted width */
        height: 120px; /* Adjusted height */
        display: block;
        position: absolute;
        top: -60px; /* Adjusted top value */
        left: 50%;
        transform: translateX(-50%);
    }

.drag-text[b-fbrgg9u8gc] {
    font-size: 34px; /* Increased font size */
    margin-bottom: 20px; /* Adjusted margin */
    color: grey;
}

.or-text[b-fbrgg9u8gc] {
    margin: 20px 0; /* Adjusted margin */
    font-size: 26px; /* Increased font size */
    text-align: center;
    color: grey;
}

.custom-file-upload[b-fbrgg9u8gc] {
    padding: 15px 25px;
    cursor: pointer;
    border: 2px solid #007BFF;
    text-align: center;
    width: 100%;
    font-size: 20px;
    border-radius: 5px;
    color: #007BFF;
}

button[b-fbrgg9u8gc] {
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #f5f5f5;
    border: 2px solid #007BFF; /* Matched the border from .custom-file-upload */
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center; /* Ensure text is centered */
    width: 40%; /* Full width to match .custom-file-upload */
    font-size: 18px; /* Matched the font size from .custom-file-upload */
    border-radius: 5px; /* Matched the border radius from .custom-file-upload */
    color: #007BFF; /* Matched the text color from .custom-file-upload */
}

    button:hover[b-fbrgg9u8gc] {
        background-color: #e5e5e5; /* You can adjust the hover color if needed */
    }

.close-btn[b-fbrgg9u8gc] {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: #e5e5e5;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

    .close-btn:hover[b-fbrgg9u8gc] {
        background-color: #c5c5c5;
    }

@media screen and (max-width: 768px) {
    .main-container[b-fbrgg9u8gc] {
        padding: 20px 10px; /* reduce side padding */
    }

    .header-container h1[b-fbrgg9u8gc],
    .header-container h2[b-fbrgg9u8gc] {
        font-size: 3em; /* reduce font size for header texts */
    }

    .gallery-container[b-fbrgg9u8gc] {
        grid-template-columns: repeat(3, 1fr); /* Display 2 images per row */
        gap: 15px; /* Increase gap between images */
        justify-content: center; /* Center the grid */
    }
    .custom-button[b-fbrgg9u8gc] {
        padding: 10px 20px;
        font-size: 16px;
        text-align: center;
        display: inline-block;
        width: auto;
        margin: 10px;
    }
        .photo img[b-fbrgg9u8gc] {
        height: 80%;
    }

    .upload-popup[b-fbrgg9u8gc] {
        padding: 50px;
        height: auto;
    }

        .upload-popup[b-fbrgg9u8gc]::before {
            width: 100px;
            height: 100px;
            top: -50px;
        }

    .drag-text[b-fbrgg9u8gc],
    .or-text[b-fbrgg9u8gc] {
        font-size: 24px;
    }

    .custom-file-upload[b-fbrgg9u8gc] {
        font-size: 18px;
    }
}
