<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://102functionappxh1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/e4ff5aea-3c08-4859-96cc-4a9c96abf215/resourceGroups/204-training/providers/Microsoft.Web/sites/102functionappxh1</ResourceId>
    <UserName>$102functionappxh1</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://102functionappxh1.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>